$light-font-color: rgba(0, 0, 0, 0.6);
$light: #f2f2f2;
$primary-color: #5183F5;
$border-color: #ccc;
$border-radius: 4px;
$primary-color: #5183F5;
$primary-hover: lighten($primary-color, 33%);

#main-content {
  margin-top: 0px;
  padding: 0px 0 0;
  min-height: calc(100vh - 6.5rem);
}

@include small-breakpoint {
  #main-content {
    margin-top: 0px;
    padding: 0px 0 0;
    min-height: calc(100vh - 6.5rem);
  }
}

.container {
  max-width: $width;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@include small-breakpoint {
  .container {
    padding: 0 2rem;
  }
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  color: $light-font-color;

  strong {
    margin-right: 1rem;
  }

  a {
    font-weight: 400;
    color: darken($light, 30%);
    display: block;
    margin-right: 1rem;

    &:hover {
      color: $primary-color;
    }
  }
}


.newsletter-section {
  background: $light;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  padding: 2.5rem;
  margin-top: 52px;
  margin-bottom: 20px;

  form {
    margin-bottom: 0;
  }

  @include small-breakpoint {
    padding: 3rem;
  }
}

